src/test/resources/schema-test.xml
<?xml version="1.0" encoding="UTF-8"?>
  <!--

    Mule Development Kit Copyright 2010-2011 (c) MuleSoft, Inc. All
    rights reserved. http://www.mulesoft.com Licensed under the Apache
    License, Version 2.0 (the "License"); you may not use this file
    except in compliance with the License. You may obtain a copy of the
    License at http://www.apache.org/licenses/LICENSE-2.0 Unless
    required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
    implied. See the License for the specific language governing
    permissions and limitations under the License.
  -->

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:spring="http://www.springframework.org/schema/beans"
  xmlns:sabrix="http://repository.mulesoft.org/releases/org/mule/devkit/it/mule-sabrix-module"
  xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.2/mule.xsd
        http://repository.mulesoft.org/releases/org/mule/devkit/it/mule-sabrix-module http://repository.mulesoft.org/releases/org/mule/devkit/it/mule-sabrix-module/1.0/mule-sabrix.xsd">

  <sabrix:config username="${sabrix.username}" password="${sabrix.password}" />

  <flow name="GetTaxes">
    <sabrix:get-taxes external-company-id="#[variable:companyId]">
      <sabrix:host-request-info>
        <calling-client>#[variable:callingClient]</calling-client>
      </sabrix:host-request-info>
      <sabrix:document>
        <sabrix:document>
          <documentNumber>#[variable:documentNumber1]</documentNumber>
        </sabrix:document>
        <sabrix:document>
        </sabrix:document>
      </sabrix:document>
    </sabrix:get-taxes>
  </flow>
</mule>
